<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/my.css" />
</head>
<body>
    <!--меню-->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Курсы иностранных языков</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                @if (ViewBag.isHome)
                {
                    <li class="active"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                }

                @if (ViewBag.isCourses)
                {
                    <li class="active"><a asp-controller="Course" asp-action="List">Курсы</a></li>
                }
                else
                {
                    <li><a asp-controller="Course" asp-action="List">Курсы</a></li>
                }

                @if (ViewBag.isAdd && @User.Identity.Name == "Admin" && User.Identity.IsAuthenticated)
                {
                    <li class="active"><a asp-controller="Course" asp-action="Add">Добавить курс</a></li>
                }
                else if (@User.Identity.Name == "Admin" && User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Course" asp-action="Add">Добавить курс</a></li>
                }

                @await Component.InvokeAsync("ShoppingCartSummary")

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="linav">
                        @User.Identity.Name
                    </li>

                    <li>
                        <form method="post" asp-controller="Account" asp-action="Logout" id="logoutform" asp-antiforgery="true">
                            <a href="#" onclick="document.getElementById('logoutform').submit()">Выход</a>
                        </form>
                    </li>
                }
                else
                {
                    @if (ViewBag.isLogin)
                    {
                        <li class="active"><a asp-controller="Account" asp-action="Login">Вход</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
                    }

                    @if (ViewBag.isRegister)
                    {
                        <li class="active"><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
                    }
                }
            </ul>
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2021 - LanguageCourseStore</p>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        </footer>
    </div>
</body>
</html>
